@model IEnumerable<Tweater.Models.TweatVM>

@{
    ViewBag.Title = "Tweater Home";
}

<p class="createbutton">
    @Html.ActionLink("Create New Tweat", "NewTweat", null, new { @class = "btn btn-info" })
</p>

    @foreach (var item in Model)
    {
        <div class="tweat">
            <div class="tweatbody">@Html.DisplayFor(modelItem => item.Body)</div>
            <div>by <a class="authorprofile" href="home/userprofile/@item.AuthorHandle">@Html.DisplayFor(modelItem => item.AuthorHandle)</a> on  @Html.DisplayFor(modelItem => item.CreateDate)</div>
        </div>
    }


@{
    int backPage = ViewBag.PageNumber - 1;
    int forwardPage = ViewBag.PageNumber + 1;
}
@if(backPage < 0)
{
    backPage = 0;
}

<a class="btn btn-default"href="/home/index/@backPage">Back</a>

<a class="btn btn-default"href="/home/index/@forwardPage">Next Page</a>





