@model IEnumerable<Tweater.Models.TweatVM>

@{
    ViewBag.Title = "Tweater Home";
}

<p class="createbutton">
    @Html.ActionLink("Create New Tweat", "NewTweat", null, new { @class = "btn btn-info" })
</p>

    @foreach (var item in Model)
    {
        <div class="tweat">
            <div class="tweatbody">@Html.DisplayFor(modelItem => item.Body)</div>
            <div>by @Html.DisplayFor(modelItem => item.AuthorHandle) on  @Html.DisplayFor(modelItem => item.CreateDate)</div>
        </div>
    }





