@model IEnumerable<Tweater.Models.TweaterUserVM>

@{
    ViewBag.Title = "Users";
}

<p class="createbutton">
    @Html.ActionLink("Create New Tweat", "NewTweat", null, new { @class = "btn btn-info" })
</p>

<h2>Follow some of these other Tweater Users!</h2>




@foreach (var item in Model)
{

    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            @Html.DisplayFor(modelItem => item.UserHandle)
        </div>
        <div class="col-md-2 col-md-offset-5">
            <div data-id="@item.Id" class="btn btn-success followbtn">Follow</div>
            <div data-id="@item.Id" class="btn btn-danger unfollowbtn">Unfollow</div>
        </div>
    </div>
}



@section scripts
{
    <script>
        $(function () {
            $('.followbtn').click(function () {
                var thisdiv = $(this);
                var userId = $(thisdiv).data("id");
                $.ajax(
                {
                    method: "POST",
                    url: "/home/follow/" + userId
                });
            });

            $('.unfollowbtn').click(function () {
                var thisdiv = $(this);
                var userId = $(thisdiv).data("id");
                $.ajax(
                {
                    method: "POST",
                    url: "/home/unfollow/" + userId
                });
            });
        })


    </script>
}
